input {
    padding: 2px;
    border-radius: 4px;
}

.superInput {
    border: 2px solid green;
    border-bottom: 5px solid green;
    background: rgba(0, 128, 0, .3);
}

.errorInput {
    border: 2px solid darkred;
    border-bottom: 3px solid darkred;
    background: rgba(255,0,0, .3);
}


.error {
    position: absolute;
    top: 40px;
    left: 46%;
    color: red;
}